/* file: src/styles/main.scss */
@use "./themes/light" as light;
@use "./themes/dark" as dark;
@use "./themes/earth" as earth;
@use "./responsive" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  transition: background-color 0.3s, color 0.3s;
  min-height: 100%;
  width: 100%;
}

body {
  overflow-x: hidden;
}

[data-theme="light"] {
  @include light.theme();
}

[data-theme="dark"] {
  @include dark.theme();
}

[data-theme="earth"] {
  @include earth.theme();
}

/* Layout general */
#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header,
footer {
  padding: 1rem;
  text-align: center;
}

main {
  flex: 1;
}
/* file: src/styles/main.scss */
